body{
    background-image: url("http://4.bp.blogspot.com/--PbiQ5WyYyI/VjvWoz9xGTI/AAAAAAAAJ7Q/ZLdBddgqH5U/s1600/wood%2Bwallpaper%2B8.jpg");
}
#texto{
    color: whitesmoke;
}
#paga{
    background-color: #F4421F;
}